

:root{
    --clr-shade1:#94d2bd;
    --clr-shade2:#0a9396;
    --clr-shade3:#ee9b00;
    --clr-shade4:#ca6702;
    --clr-opaque:#4a4e69;
}

#parentDiv,#parentDiv2{
width:60%;
margin:0 auto;
border:2px solid pink;
border:10px solid pink;
margin-bottom: 10em;
}




section div{
    height:50px;
}


#parentDiv{
    display:grid;
    grid-template-columns:5fr 3fr;
    grid-template-rows:auto auto;
    grid-template-areas: "left_table right_table"
    "left_table1 right_table1";
    grid-row-gap:2em;
    grid-column-gap:2em;
}

#solved{
    grid-area:solved;
    background-color: pink;
}

#container1_1{
    grid-area: left_table1;
    background-color: #0a9396;
}

#container2_1{
    grid-area:right_table1;
    background-color: aqua;
}









#container1{
    grid-area:left_table;
}

#container2{
    grid-area:right_table;
    cursor:move;
    display: flex;
    flex-direction: column;
}

#container2 div{
    order:1;
}





#container1 div{
    display: flex;
}

#container2 div,#container2_1 div{
    display: grid;
    grid-template-columns: 66% 33%;
}



section div:nth-of-type(3n){
    background-color:var(--clr-shade1);
}

section div:nth-of-type(2){
    background-color:var(--clr-shade2);

}

section div:nth-of-type(4){
    background-color:var(--clr-shade3);
}


section div:nth-of-type(5){
    background-color:var(--clr-shade4);
}


.dragged{
    opacity: 0.8;
    margin-left:1em;
    border:none;
    background-color: var(--clr-opaque) !important;
}

