
#shows{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-content:center;

    height:600px;
    border:2px solid black;
}

#shows article{
    position:relative;
    border:1px solid grey;
    padding-top:5px;
    margin:20px;
}

#shows article img{
    width:150px;
    height:150px;
    padding-top:20px;
}

#shows article:nth-of-type(3n) img, #shows article:nth-of-type(5n) img{
    width:150px;
    height:200px;
    padding-top:20px;

}


#shows article label{
    position: absolute;
}